<!-- Se refiere al html base que va a utilizar -->
{% extends 'client/bases/edit_base.html' %}

{% block title %}
  Editar Usuario
{% endblock %}

{% block subtitle %}
  Editar Usuario
{% endblock %}

{% block content %}
  <div class="collection">
    <a href="{% url 'client:edit' %}" class="collection-item">Perfil</a>
    <a href="{% url 'client:edit_password' %}" class="collection-item active">Password</a>
    <a href="{% url 'client:edit_social' %}" class="collection-item ">Redes Sociales</a>
  </div>
  <form method = "post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Actualizar password">
  </form>
{% endblock %}
